numpy>=1.22.3
Pillow>=9.1.0
protobuf>=3.20.0
scipy>=1.8.0
six>=1.16.0
tensorboardX>=2.5
torch>=1.11.0
typing_extensions>=4.1.1
ffmpeg-python>=0.2.0
gradio>=3.50.2
svgwrite>=1.4.3
jsonschema>=4.17.3
referencing>=0.30.2
altair>=4.2.2
urllib3>=2.0.7

